@model IEnumerable<HomeBook.Models.Order>

@{
    ViewData["Title"] = "Danh sách đơn hàng";
    Layout = "~/Areas/AdminHomeBook/Views/Shared/Admin.cshtml";
}

<div>
    <h1 class="mb-4 text-danger"><i class="bi bi-cart-fill me-2"></i> Danh sách đơn hàng</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="bg-danger text-white">
                <tr>
                    <th>
                        <i class="bi bi-calendar-date-fill me-2"></i> @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        <i class="bi bi-cash-coin me-2"></i> @Html.DisplayNameFor(model => model.TotalAmount)
                    </th>
                    <th>
                        <i class="bi bi-check-circle-fill me-2"></i> @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        <i class="bi bi-person-fill me-2"></i> @Html.DisplayNameFor(model => model.Customer)
                    </th>
                    <th class="text-center"><i class="bi bi-gear-fill me-2"></i> Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderDetails)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.FullName)
                        </td>
                        <td class="text-center">
                            <a asp-action="Details" asp-route-id="@item.OrderId" class="btn btn-sm btn-info ms-2"><i class="bi bi-info-circle-fill me-1"></i> Chi tiết</a>
                            <a asp-action="Delete" asp-route-id="@item.OrderId" class="btn btn-sm btn-danger ms-2"><i class="bi bi-trash-fill me-1"></i> Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<style>
    .btn-primary {
        background-color: #fb5353;
        border-color: #fb5353;
    }

        .btn-primary:hover {
            background-color: #d94242;
            border-color: #d94242;
        }

    .bg-danger {
        background-color: #fb5353 !important;
    }

    .text-danger {
        color: #fb5353 !important;
    }
</style>